{% if section.settings.map_stretch %}
  <div class="embed-container maps"><iframe width="100%" height="{{ section.settings.map_height }}" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q={% if section.settings.contact_address != blank %}{{ section.settings.contact_address | replace: ' ', '+' }}{% else %}{{ shop.address.street }}{% endif %}&amp;z={{ section.settings.zoom_level }}&amp;output=embed"></iframe></div>
{% else %}
  <div class="container"><div class="embed-container maps"><iframe width="100%" height="{{ section.settings.map_height }}" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q={% if section.settings.contact_address != blank %}{{ section.settings.contact_address | replace: ' ', '+' }}{% else %}{{ shop.address.street }}{% endif %}&amp;z={{ section.settings.zoom_level }}&amp;output=embed"></iframe></div></div>
{% endif %}

<style>
  @media only screen and (max-width: 767px) {
    .maps iframe{
      height: {{ section.settings.map_height | divided_by: 1.5 | round }}px;
    }
  }
</style>

{% schema %}

{
  "name": "Map",
  "class": "map-section",
  "settings": [
    {
      "type": "text",
      "id": "contact_address",
      "label": "Street address",
      "info": "The full address that will be placed on the map."
    },
    {
      "type": "select",
      "id": "zoom_level",
      "label": "Map zoom level (1-20)",
      "options": [
        {"value": "1", "label": "1"},
        {"value": "2", "label": "2"},
        {"value": "3", "label": "3"},
        {"value": "4", "label": "4"},
        {"value": "5", "label": "5"},
        {"value": "6", "label": "6"},
        {"value": "7", "label": "7"},
        {"value": "8", "label": "8"},
        {"value": "9", "label": "9"},
        {"value": "10", "label": "10"},
        {"value": "11", "label": "11"},
        {"value": "12", "label": "12"},
        {"value": "13", "label": "13"},
        {"value": "14", "label": "14"},
        {"value": "15", "label": "15"},
        {"value": "16", "label": "16"},
        {"value": "17", "label": "17"},
        {"value": "18", "label": "18"},
        {"value": "19", "label": "19"},
        {"value": "20", "label": "20"}
      ],
      "default": "12"
    },
    {
      "type": "checkbox",
      "id": "map_stretch",
      "label": "Stretch to fill page",
      "default": true
    },
    {
      "type": "range",
      "id": "map_height",
      "min": 250,
      "max": 500,
      "step": 50,
      "unit": "px",
      "label": "Height",
      "default": 300
    }
  ],
  "presets": [
    {
      "name": "Map",
      "category": "Content"
    }
  ]
}

{% endschema %}
